[submodule "midiana"]
	path = midiana
	url = https://github.com/shingo45endo/midiana.git
[submodule "sound-canvas-lcd"]
	path = sound-canvas-lcd
	url = https://github.com/shingo45endo/sound-canvas-lcd.git
[submodule "web-serial-midi"]
	path = web-serial-midi
	url = https://github.com/shingo45endo/web-serial-midi.git
[submodule "rcm2smf"]
	path = rcm2smf
	url = https://github.com/shingo45endo/rcm2smf.git
