[submodule "web/midi-file-player/sound-canvas-lcd"]
	path = web/midi-file-player/sound-canvas-lcd
	url = https://github.com/shingo45endo/sound-canvas-lcd.git
[submodule "web/midi-file-player/web-serial-midi"]
	path = web/midi-file-player/web-serial-midi
	url = git@github.com:shingo45endo/web-serial-midi.git
